Repository tupleapp/vector, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: sources, domain: sinks, domain: transforms, domain: topology, domain: codecs, domain: core, domain: vrl, domain: ci, domain: releasing, domain: rfc, domain: external docs

Update Apex sink to the latest interface
  src/sinks/apex.rs
Labels: domain: sinks

Allow stdin source to specify fd
  src/sources/stdin.rs
Labels: domain: sources

Change stdin declared resource to use the claimed fd
  src/config/mod.rs
  src/sources/stdin.rs
Labels: domain: sources

Separate custom fd source into a pipe source
  Cargo.toml
  src/sources/mod.rs
  src/sources/pipe.rs
Labels: domain: sources

Use Tuple's fork of grok to avoid bindgen and libclang dependencies
  Cargo.lock
  Cargo.toml
  lib/datadog/grok/Cargo.toml
  lib/vrl/stdlib/Cargo.toml
Labels: domain: vrl

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"domain: sources":
- src/sources/**/*

"domain: sinks":
- src/sinks/**/*

"domain: transforms":
- src/transforms/**/*

"domain: topology":
- src/topology/**/*

"domain: codecs":
- src/codecs/**/*

"domain: core":
- lib/vector-core/**/*

"domain: vrl":
- lib/vrl/**/*

"domain: ci":
- scripts/**/*

"domain: releasing":
- distribution/**/*
- scripts/package-*
- scripts/release-*

"domain: rfc":
- rfcs/**/*

"domain: external docs":
- website/cue/**/*
